<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/index.css">
    <title>시작화면</title>
</head>
<body>
    <div class="main-logo">
        <h1>체스</h1>
    </div>
    <div>
        <button class="new-game-button">
            새게임
        </button>
    </div>
    <br>
    <section class="board-list-section">
        <div class="inner m-center">
            <ul id="board-list">

            </ul>
        </div>
    </section>

    <script type="module" src="/js/view/Index.js"></script>
</body>
</html>